*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    /* background-color: yellow; */
}
.main-container{
    margin: 0px auto;
    padding: 25px;
    border-radius: 5px;

}
.record-input, .record-display{
    border-radius: 10px;
    margin: 30px 0;
    padding: 30px 0;
    box-shadow: 0px 0px 6px 0px rgba(8,0,8,1);
}
.record-input > h2, .record-display > h2{
    padding: 10px 0;
    text-align: center;
    font-size: 22px;


}
.record-input{
 color: #000;
 background: #f0f0f0;
}
.record-display{
    background: #f0f9f8;
    color: #12aae1;
    position: relative;
}
.entry-form{
    padding: 10px;

}
form{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;

}
form label{
    font-weight: 600;
    opacity: 0.8;


}
form label, form input{
    display: block;
    outline: none;
    border-radius: 25px;
    border: none;
}
form input[type="text"],form input[type="number"]{
    color: #000;
    /* font-family: inherit; */
     font-size: 30px;
    padding: 10px 20px;
    margin: 12px 0;

}
form input:focus{
    background: #e5f0f5;
    /* color: #f0f0f0; */
}
#error-msg{
    text-align: center;
    display: block;
    width: 50%;
    margin: 10px auto;
    font-size: 15px;
    color: red;
    border-radius: 5px;
}
 button {
    width: 160px;
    display: block;
    margin: 20px auto;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 25px;
    color: #fff;
    background: #000411;
    cursor: pointer;
    opacity: 0.8;

   
  }

  button:hover{
    opacity: 1;
  } 
  #reset-btn{
    position: absolute;
    right: 25px;
    top: 10px;
    width: 120px;
  }
  .record-display{
    padding: 30px 40px;

  }

.record-el{
    display: block;
    padding: 4px 0; 
    text-align: center;

}
.record-item{
    color: #000;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 15px 0;
    background: rgb(183, 236, 233);
    box-shadow: 0 0 6px #777;

}
@media screen and (min-width:992px)   {
    .main-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 90vw;
        grid-column-gap: 30px;

    }
    .record-input{
        height: 700px;
    }

}
  
